[submodule "ah_tcp_serv"]
	path = ah_tcp_serv
	url = https://github.com/alexhagen/ah_tcp_serv.git
[submodule "_includes"]
	path = _includes
	url = https://github.com/alexhagen/includes.git
[submodule "_layouts"]
	path = _layouts
	url = https://github.com/alexhagen/layouts.git
