---
layout: default
---

<div class="home">

  {% assign tags_list = site.categories %}  
    {% if tags_list.first[0] == null %}
      {% for tag in tags_list %} 
        <h1>{{ tag }}</h1>
        <p>{{ site.tags[tag].size }}</p>
        <ul class="post-list">
          {% for post in site.categories.publications %}
          <li>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
            <h2>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h2>
          </li>
          {% endfor %}
        </ul>
      {% endfor %}
    {% else %}
      {% for tag in tags_list %} 
        <h1>{{ tag }}</h1>
        <p>{{ site.tags[tag].size }}</p>
        <ul class="post-list">
          {% for post in site.categories.publications %}
          <li>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
            <h2>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h2>
          </li>
          {% endfor %}
        </ul>
      {% endfor %}
    {% endif %}
  {% assign tags_list = nil %}
  </ul>


  <!-- Codes Box -->
  <h1 class="page-heading">Codes</h1>
  <!-- Publications Box -->
  <h1 class="page-heading">Publications</h1>
  <ul class="post-list">
    {% for post in site.categories.publications %}
      <li>
	<span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <!-- Designs Box -->
  <h1 class="page-heading">Designs</h1>

  <ul class="post-list">
    {% for post in site.categories.designs %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
