{% include head-dark.html %}

<section class="article archive">
  <article class="archive-wrap">
    
    <!-- Define Responsive Image Tiles: For Best Effect Use Square Images and a lot more Images -->
     <div class="gridWrapper">
      <div class="tile">
        <div class="tileInner">
          <a href="#"><p data-content="cv"></p></a>
        </div>
      </div>
      <div class="tile-double">
        <div class="tileInner papers">
          <ul class="chart">
            <li>
              <span style="height:5%"></span>
            </li>
            <li>
              <span style="height:70%"></span>
            </li>
            <li>
              <span style="height:50%"></span>
            </li>
            <li>
              <span style="height:15%"></span>
            </li>
            <li>
              <span style="height:25%"></span>
            </li>
          </ul>  
          <a href="papers/"><p data-content="peer reviewed papers"></p></a>
        </div>
      </div>
      <div class="tile-double">
        <div class="tileInner code">
          <a href="#"><p data-content="open source codes"></p></a>
        </div>
      </div>
      <div class="tile-double double">
        <div class="tileInner design">
          <a href="#"><p data-content="designs"></p></a>
        </div>
      </div>
      <div class="tile">
        <div class="tileInner papers">
          <a href="#"><p data-content="posters"></p></a>
        </div>
      </div>
      <div class="tile">
        <div class="tileInner papers">
          <a href="#"><p data-content="presentations"></p></a>
        </div>
      </div>
      <div class="tile">
        <div class="tileInner code">
          <a href="#"><p data-content="simulations"></p></a>
        </div>
      </div>
      <div class="tile-double">
        <div class="tileInner papers">
          <a href="#"><p data-content="involved papers"></p></a>
        </div>
      </div>
      <div class="tile">
        <div class="tileInner class">
          <a href="#"><p data-content="teaching materials"></p></a>
        </div>
      </div>

    </div>
  </article>
</section>

{% include footer.html %}