{% include head-dark.html %}

<style>

  .credits {
    color:white;
    text-align:right;
    text-decoration:none;
    font-weight: bold;
  }


  .metro-surface{
    padding: 40px 0px 0px 0px;
  }


  .metro-tile {
    background-color: #D8512B;
    border-color: #DC6241;
    width: 232px;
    height: 104px;
    padding: 5px;
    color: #FFF;
    font-family: sans-serif;
    font-size: 12px;
    border-width: 3px;
    border-style: solid;
    cursor: default;
    -webkit-transition: 0.1s all;
    -moz-transition: 0.1s all;
    -ms-transition: 0.1s all;
    transition: 0.1s all;
  }


  .metro-tile-small {
    width: 104px;
    height: 104px;
  }


  .metro-tile-store {
    background: url(https://cssbox.googlecode.com/svn/demo/Windows8MetroTiles/img/Store.png);
    background-color: #2878EC;
    border-color: #2878EC;
  }


  .metro-tile-xbox {
    background: url(https://cssbox.googlecode.com/svn/demo/Windows8MetroTiles/img/XBox.png);
    background-position: 8px 8px;
          background-color:#6CB71E;
          border-color:#6CB71E;
  }


  .metro-tile-google {
    background: url(https://cssbox.googlecode.com/svn/demo/Windows8MetroTiles/img/Google.png);
    background-color: #009719;
    border-color: #009719;
  }


  .metro-tile-angrybirds {
    background: url(https://cssbox.googlecode.com/svn/demo/Windows8MetroTiles/img/AngryBirds.jpg);
          border-image: url(https://cssbox.googlecode.com/svn/demo/Windows8MetroTiles/img/AngryBirds.jpg) 1;
  }


  .metro-tile-music {
    background: url('https://cssbox.googlecode.com/svn/demo/Windows8MetroTiles/img/Music.png');
          background-color: #D8512B;
    border-color: #D8512B;
  }


  .metro-tile-ie {
    background: url('https://cssbox.googlecode.com/svn/demo/Windows8MetroTiles/img/IE.png');
          background-color: #2878EC;
    border-color: #2878EC;
  }


  .metro-tile-image {
    background: url(https://cssbox.googlecode.com/svn/demo/Windows8MetroTiles/img/Image.jpg);
    border-color: black;
  }


  .metro-tile-tweet {
    background: url(https://cssbox.googlecode.com/svn/demo/Windows8MetroTiles/img/Tweet.png);
    background-color: #2878EC;
    border-color: #2878EC;
  }


  .metro-tile-msg {
    background: url(https://cssbox.googlecode.com/svn/demo/Windows8MetroTiles/img/Messaging.png);
    background-color: #2878EC;
    border-color: #2878EC;
  }


  .metro-tile-player {
    background: url(https://cssbox.googlecode.com/svn/demo/Windows8MetroTiles/img/Gangnam.jpg);
    border-color: black;
  }


  .metro-tile-facebook {
    background: url(https://cssbox.googlecode.com/svn/demo/Windows8MetroTiles/img/Facebook.png);
    background-color: #3B5998;
    border-color: #3B5998;
  }


  .metro-tile-twitter {
    background: url(https://cssbox.googlecode.com/svn/demo/Windows8MetroTiles/img/Twitter.png);
    background-color: #2878EC;
    background-position: 0 10px;
    border-color: #2878EC;
  }


  .metro-tile-aciii {
    background: url(https://cssbox.googlecode.com/svn/demo/Windows8MetroTiles/img/AC3.jpg);
    border-color: black;
  }


  .metro-tile-gmail {
    background: url(https://cssbox.googlecode.com/svn/demo/Windows8MetroTiles/img/Gmail.png);
    background-color: #009719;
    border-color: #009719;
  }


  .metro-tile-dropbox {
    background: url(https://cssbox.googlecode.com/svn/demo/Windows8MetroTiles/img/Dropbox.png);
    background-color: #2878EC;
    border-color: #2878EC;
  }


  .metro-tile-blogger {
    background: url(https://cssbox.googlecode.com/svn/demo/Windows8MetroTiles/img/Blogger.png);
    background-color: #D8512B;
    border-color: #D8512B;
  }


  div.metro-tile:hover {
    -webkit-transform: scale(0.97) perspective(400px) rotateY(0deg) rotateX(0deg);
    -moz-transform: scale(0.97) perspective(400px) rotateY(0deg) rotateX(0deg);
    -ms-transform: scale(0.97) perspective(400px) rotateY(0deg) rotateX(0deg);
    transform: scale(0.97) perspective(400px) rotateY(0deg) rotateX(0deg);
    border-width: 3px;
    border-style:solid; 
  }
</style>


<div class="metro-surface">
 <table>
  <tr>
   <td><div class="metro-tile metro-tile-small metro-tile-store">Store</div></td>
   <td><div class="metro-tile metro-tile-small metro-tile-xbox">Xbox LIVE Games</div></td>
   <td><div class="metro-tile metro-tile-google">Google</div></td>
   <td><div class="metro-tile metro-tile-angrybirds">Angry Birds</div></td>
  </tr>
  </table>
  <table>
  <tr>
   <td><div class="metro-tile metro-tile-small metro-tile-music">Music</div></td>
   <td><div class="metro-tile metro-tile-small metro-tile-ie">Internet</div></td>
   <td><div class="metro-tile metro-tile-image">Images</div></td>
   <td><div class="metro-tile metro-tile-tweet">Tweet</div></td>
  </tr>
  </table>
  <table>
  <tr>
   <td><div class="metro-tile metro-tile-msg">Messaging</div></td>
   <td><div class="metro-tile metro-tile-player">Player</div>
   <td><div class="metro-tile metro-tile-small metro-tile-facebook">Facebook</div></td>
   <td><div class="metro-tile metro-tile-small metro-tile-twitter">Twitter</div></td>
  </tr>
 </table>
  <table>
  <tr>
   <td><div class="metro-tile metro-tile-aciii">Assassins Creed III</div></td>
   <td><div class="metro-tile metro-tile-gmail">Gmail</div>
   <td><div class="metro-tile metro-tile-small metro-tile-dropbox">Dropbox</div></td>
   <td><div class="metro-tile metro-tile-small metro-tile-blogger">Blogger</div></td>
  </tr>
 </table>
</div>

<!--
<section class="article archive">
<article class="archive-wrap">
  <h1 class="page-heading">Codes</h1>

    <ul class="post-list">
        {% for post in site.categories.codes %}
            
          <li>
            <span class="post-meta">
              {{ post.date | date: "%b %Y" }}
            </span>
            <h2>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h2>
          </li>
        {% endfor %}
      </ul>
  <h1 class="page-heading">Publications</h1>
    <ul class="post-list">
      {% for post in site.categories.publications %}
        <li>
          <span class="post-meta">
            {{ post.date | date: "%b %Y" }}
            {% if post.tags contains 'coauthor' %} - contributing author{% endif %}
            {% if post.tags contains 'poster' %} - poster only{% endif %}
            {% if post.fulltext %} - full text available{% endif %}
          </span>
          <h2>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>

        </li>
      {% endfor %}
    </ul>

  <h1 class="page-heading">Designs</h1>
    <ul class="post-list">
        {% for post in site.categories.designs %}
          <li>
            <div class="deets">
              <p><span class="post-meta">
                {{ post.date | date: "%b %Y" }}
              </span></p>
              <h2>
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
              </h2>
            </div>
          </li>
        {% endfor %}
      </ul>

<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</section>
</article>

-->

<!--
    <div id='bump'>
        <section class="article archive">
          <article class="archive-wrap">
              <ol class="post-list">
                 <lh><h2><span class="bb">{{ page.title }}</span></h2></lh>
                  {% for post in site.posts %}
                  <li>
                    <div class="deets" itemscope itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
                        <h1><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h1>
                        <p class="date"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%B %d, %Y" }}</time></p>
                        <p class="">{% if post.description %}{{ post.description  | strip_html | strip_newlines | truncate: 120 }}{% else %}{{ post.content | strip_html | strip_newlines | truncate: 120 }}{% endif %}</p>
                    </div>
                  </li>
                  {% endfor %}
              </ol>

  <dl class="csslinegraph">
    
    <dt>Day 1</dt>
    <dd class="first"><span class="pi0 i1"><em>3</em></span></dd>
    
    <dt>Day 2</dt>
    <dd><span class="pi1 i10"><em>36</em></span></dd>   
    
    <dt>Day 3</dt>
    <dd><span class="pd11 d d4"><em>23</em></span></dd> 
    
    <dt>Day 4</dt>
    <dd><span class="pi7 i10"><em>56</em></span></dd> 
    
    <dt>Day 5</dt>
    <dd><span class="pd17 d d0"><em>55</em></span></dd>               
    
    <dt>Day 6</dt>
    <dd><span class="pd17 d d7"><em>32</em></span></dd>     
    
    <dt>Day 7</dt>
    <dd><span class="pi10 i14"><em>79</em></span></dd>  
    
    <dt>Day 8</dt>
    <dd><span class="pd24 d d2"><em>74</em></span></dd> 
    
    <dt>Day 9</dt>
    <dd><span class="pi22 i1"><em>77</em></span></dd> 
    
    <dt>Day 10</dt>
    <dd><span class="pi23 i2"><em>83</em></span></dd> 
    
    <dt>Day 11</dt>
    <dd><span class="pd25 d d15"><em>34</em></span></dd>  
    
    <dt>Day 12</dt>
    <dd><span class="pi10 i2"><em>39</em></span></dd>                     
        
  </dl>
          </article>
        </section>
    </div>
-->

{% include footer.html %}