{% include head-dark.html %}

<section class="article">

  <div class="overlay overlay-lighter"></div>
  <div class="featured-chart">
  	<ul class="chart">
	    <li>
	      <span style="height:5%"></span>
	    </li>
	    <li>
	      <span style="height:70%"></span>
	    </li>
	    <li>
	      <span style="height:50%"></span>
	    </li>
	    <li>
	      <span style="height:15%"></span>
	    </li>
	    <li>
	      <span style="height:25%"></span>
	    </li>
	  </ul>
  </div>


      <article class="wrap post">

        {{ content }}

      </article>
    </section>
</div>

{% include footer.html %}
