---
layout: default
---
<div class="publication">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="publication-author-list">
    	{% for author in page.authors %}
    		<span class="publication-author">{{ author }}</span>
    	{% endfor %}
    </p>
    <p class="post-meta">{{ page.date | date: "%Y" }}</p>
    {% if page.fulltext %}<p class="post-meta">{{ page.fulltext }}</p>{% endif %}
  </header>

  <article class="post-content">
    {{ content }}
  </article>

  <h3>Citation</h3>
  <p class="publication-citation">{{ page.citation }}</p>
  <h3>Abstract</h3>
  <p class="publication-abstract">{{ page.abstract | newline_to_br }}</p>

</div>
